<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 - Page Not Found</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./styles/404.css">

</head>
<body>
    <div class="container">
        <h1>404 - Page Not Found</h1>
        <p>We're sorry, but the page you are looking for doesn't exist.</p>
        <p>Here are some possible reasons:</p>
        <ul>
            <li>The page may have been removed or is temporarily unavailable.</li>
            <li>You may not have permission to view this page (not logged in).</li>
            <li>The URL may have been mistyped or outdated.</li>
            <li>The requested resource may have been moved to a different location.</li>
        </ul>
        <p>Return to <a href="/home">homepage</a> or contact website adminstrator..</p>
        <hr>

        <h2 class="logo"">Valco Developments</h2>

    </div>
</body>
</html>
